    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<header>
  <nav class="landnav" am-layout="horizontal">
  <a href="https://www.google.com/">GOOGLE</a>

  <a class="right" href="#"><div id="clock"><h4 id="weather" class="indexweather">  </h4></div></a>
  </nav>
</header>

<div class="indexcontainer">

  
    <h1 id="greeting" class="ttext"><h1 class="ttext"><% if user_signed_in? %>, <%= current_user.name.upcase %></h1></h1>  
    <% end %>  <br><br>

    <h2 id="hourminutesecond" class="time"> </h2>
    <h2 id="daymonthyear" class="date"> </h2>

       
    <% if user_signed_in? %> 
       <a class="btn btn-dark" href="/dashboard/space">DASHBOARD</a> 
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-dark" %>

     <% else %>
       <a class="btn btn-light" href="/users/sign_in">SIGN IN</a>
       <a class="btn btn-light" href="/users/sign_up">SIGN UP</a>
    <% end %>
    <h3 id="text" class="quote"></h3>

</div>
