    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="indexcontainer">
    
<h1>Welcome#index</h1>

<div id="clock">
    <h1 id="greeting"> Good Morning </h1>
    <h3 id="weather"></h3>
    <p id="date">[ ]</p>
    <p id="time">[ ]</p>
    <p id="text"> YOUR WORLD </p>
</div>

<script>

const icons = {
    clear: 'ðŸŒ§',
    rain: 'ï¸ðŸŒ§',
    storm: 'â›ˆ',
    snow: 'ðŸŒ¨',
    mist: 'ðŸŒ«',
    clouds: 'â˜',
  };

    var text = document.createElement("P");                       
    var t = document.createTextNode("Test."); 
    document.getElementById("date").append(text.appendChild(t));

    document.getElementById("weather").append(` Â°  ll`) ;
  

  fetch(`https://cors-anywhere.herokuapp.com/http://api.forismatic.com/api/1.0/?method=getQuote&format=json&lang=en`)
.then(response => {
  console.log(re)
  document.append(`<p class="quote"> "${response.data.quoteText}"</p>`)

})
.catch((error) => {
  console.log(error);
});

  fetch(`http://api.openweathermap.org/data/2.5/weather?q=Jeddah&units=metric&APPID=28a2bd8eb9a1dd27589d6cdd509169e4`)
  .then((response) => {       

    document.getElementById("weather").append(` ${response.data.main.temp}Â° <br> ${response.data.name}`) 

  let weather;
 // console.log(res.data.weather)
  res.data.weather.forEach(element => {
      weather = element.main;
  });

  for(i in icons){
  //  console.log(i)
    if(i == weather.toLowerCase()){
       
      document.append(`<h2 class="h2home"> ${(icons[i])} </h2>`) 

    }
  }
  
  document.append(`<h1 class="time"> ${moment().format('LT')}</h1>`)
  let date = new Date()
  let now = date.getHours();
  console.log(now)
  if(now >= 12 || now <=17){
    document.append(`<h3 class="ttext"> Good Afternoon </h3>`)

  }else if(now >= 18 || now <=20){
    document.append(`<h3 class="ttext"> Good Evening</h3>`)

  }else if(now >= 21 || now <=23){
    document.append(`<h3 class="ttext"> Good Night </h3>`)

  }else{
    document.append(`<h3 class="ttext"> Good Morning </h3>`)
  }
 
  
}).catch((error) => {
    console.log(error);
});


</script>

