    
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="indexcontainer">
    
<h1>Welcome#index</h1>

<div id="clock">
    <h1 id="greeting">  </h1>
    <h3 id="weather"></h3>
    <p id="date">[ ]</p>
    <p id="time">[ ]</p>
    <p id="text">  </p>
</div>

<%# <script>

    var text = document.createElement("P");                       
    var t = document.createTextNode("Test."); 
    document.getElementById("date").append(text.appendChild(t));

    document.getElementById("weather").append(` °  ll`) ;
  

  fetch(`https://cors-anywhere.herokuapp.com/http://api.forismatic.com/api/1.0/?method=getQuote&format=json&lang=en`)
  .then(response => {
  console.log(response)
  document.append(`<p class="quote"> "${response.data.quoteText}"</p>`)

})
.catch((error) => {
  console.log(error);
});



</script>
 %>
